@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96.1%; /* #f5f5f5 */
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 233 62% 29%; /* #1a237e */
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 213 68% 85%; /* #a7c4ec */
    --accent-foreground: 233 62% 29%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 228 96% 15%;
    --foreground: 210 40% 98%;
    --card: 228 80% 20%;
    --card-foreground: 210 40% 98%;
    --popover: 228 80% 20%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 228 80% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 228 80% 25%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217 91% 60%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 228 80% 30%;
    --input: 228 80% 30%;
    --ring: 217 91% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased;
  }
  .dark body {
    background-image: linear-gradient(to bottom, hsl(225, 29%, 17%), black);
  }
}

@layer utilities {
    .animate-panel-reveal {
        transform-origin: bottom;
    }
}

@layer components {
    .bg-sap-gradient {
        background-color: #00073D;
        background-image: linear-gradient(135deg, #00073D 0%, #000B5B 50%, #001783 100%);
    }
}
