name: Deploy Next.js to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3

    - name: Copy project to VPS
      uses: appleboy/scp-action@v0.1.4
      with:
        host: ${{ secrets.VPS_IP }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.VPS_SSH_KEY }}
        source: "*"
        target: "/home/onlycreation-webapp/app-temp"

    - name: Deploy on VPS
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.VPS_IP }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.VPS_SSH_KEY }}
        script: |
          cd /home/onlycreation-webapp/app-temp
          npm install
          npm run build

          rm -rf /home/onlycreation-webapp/htdocs/web.onlycreation.in/*
          cp -r * /home/onlycreation-webapp/htdocs/web.onlycreation.in/

          sudo systemctl restart onlycreation.service
